*{
    margin: 0;
    padding: 0;
}
body{
background-color: #0d1117;
}
.navbar{
    background-color: rgb(28, 55, 74);
    display: flex;
    width: 100vw;
    padding: 1rem;
}
.navbar img{
    width: 4rem;
}
.navbar ul{
    margin-left: 40rem;
    list-style-type: none;
    display: flex;
    
    align-items: center;
    font-size: 1.8rem;
    gap: 2rem;
}
.navbar a{
    color: aliceblue;
    text-decoration: none;
}
nav li:hover{
    text-decoration: underline rgb(168, 167, 139);
    text-underline-offset: 1rem;
    transform: scaleX(0.9);
    cursor: pointer;
}
.menu_icon{
    display: flex;
    color: aliceblue;    
    align-items: center;
    margin-left: 6rem;
    display: none;
}
#About{
    display: inline-flex;
    align-items: center;
    margin-top: 7rem;
    margin-left: 7rem;
}
#A-name{
    font-size: 2.5em;
    color: white;
}
.A_data{
    width: 34rem;
    font-size: 1.1rem;
    text-align: center;
}
#A_content{
    color: #555758;
    margin-bottom: 1.6rem;
    text-align: justify;
}
#icon{
    margin-right: 1.6rem;
    color: #c9d1d9;
    text-decoration: none;
    font-size: 2.5rem;
    transition: all 0.1s ease;
}
#About i :hover{
    font-size: 3rem;
}
#pic{
    padding-top: 2rem;
    margin-left: 15rem;
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    background-color: rgb(60,80,110);
}
#Skills{
    display: inline-flex;
    align-items: center;
    margin-top: 7rem;
    margin-left: 7rem;
    color: white;
}
#Skills h1{
    font-size: 2.3rem;
}
#Skills p{
    display: inline-block;
    margin-left: 3rem;
    font-size: 1.8rem;
    width: 10rem;
    height: 10rem;
    text-align: center;
    border: 0.2rem solid ;
    margin-top: 1rem;
    transition: all 0.2s ease;
    align-content: center;
    
}
#Skills p:hover{
    font-size: 2.2rem;
    align-content: center;
    cursor: default;
}
#s_pic{
    width: 3rem;
}
#Projects{
    display: inline-flex;
    align-items: center;
    margin-top: 7rem;
    margin-left: 7rem;
    color: white;
}
#Projects h1{
    font-size: 2.3rem;
}
#Projects a{
    display: inline-block;
    margin-left: 4rem;
    font-size: 1.8rem;
    width: 12rem;
    height: 12rem;
    text-align: center;
    border: 0.2rem solid ;
    margin-top: 1rem;
    transition: all 0.2s ease;
    align-content: center;
    text-decoration: none;
    color: white;
}
#Projects a:hover{
    font-size: 2rem;
    align-content: center;
    cursor: pointer;
}
#Certifications{
    margin-top: 80px;
    margin-left: 100px;
    display: block;
    align-content: center;
}
#Certifications h1{
    font-size: 35px;
    margin-right: 50px;
    margin-bottom: 30px;
}
#Certifications p{
    display: inline-block;
    width: 180px;
    margin-left: 220px;
    font-size: 23px;
    text-align: center;
    border: 3px solid ;
    margin-bottom: 10px;
}
#Certifications a{
    color: black;
    text-decoration: none;
}
#Contact_Me{
    display: inline-flex;
    align-items: center;
    margin-top: 7rem;
    margin-left: 7rem;
    color: white;
}
#Contact_Me{
    margin-top: 9rem;
    margin-left: 9rem;
    display: inline-flex;
}
#Contact_Me img{
    width: 25rem;
    height: 25rem;
    align-self: center;
}
#Contact_Me form{
    padding: 2rem;
    border-radius: 3rem;
    margin-left: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    font-size: 1.5rem;
    background-color: rgb(28, 51, 73);
    border: none;
    line-height: 0.4;
}
#Contact_Me label{
    padding: 1rem;
    margin-bottom: -0.8rem;
}
input{
    width: 22rem;
    border-radius: 1rem;
    height: 2rem;
    font-size: 1.2rem;
    padding-left: 1rem;
    background: transparent;
    color: aliceblue;
}
#Contact_Me form textarea{
    width: 22rem;
    height: 12rem;
    border-radius: 1rem;
    padding: 1rem;
    resize: none;
    font-size: 1.2rem;
    background: transparent;
    color: aliceblue;
}
#Contact_Me form button{
    background-color: black;
    color: white;
    font-size: 1.2rem;
    width: 10rem;
    height: 40PX;
    border-radius: 15px;
    border: none;
    margin-top: 10px;
}
#Contact_Me form button:hover{
    cursor: pointer;
    font-size: 1.5rem;
    width: 12rem;
}
.footer{
    margin-top: 2rem;
    background-color: rgb(60,80,110);
    padding: 2rem;
    text-align: center;
    color: aliceblue;
    font-weight: bolder;
    font-size: 1.5rem;
}
@media only screen and (max-width: 1280px) {
    .navbar{
        width: 100vw;
    }
    .footer{
        width: 100vw;
    }
    #About, #Skills, #Projects, #Contact_Me{
        margin-left: 2rem;
    }
    #pic{
        margin: 1rem;
        width: 18rem;
        height: 18rem;
    }
    .A_data{
        width: 70vw;
    }
    #Contact_Me form{
        margin-left: 2rem;
    }
    input{
        width: 19rem;
    }
    #Contact_Me form textarea{
    width: 19rem;
    }
    .footer{
    font-size: 1.6rem;
}
}
@media screen {
    
}